@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body
{
    width: 100%;
   	height: 100vh;
   	height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    overflow: hidden; 
}
body {
    line-height:1;
    font-family: 'Teko', sans-serif;
	background: var(--clr-bkg);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    color: var(--clr-link);
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
a:hover{
	color: var(--clr-red);
}
details summary{
	cursor: pointer;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
b{
	color: var(--clr-bold);
}

:root{
    --clr-bkg-main: #121212;
    --clr-bkg-secondary: #fe0100;
    --clr-bkg-accent: #ffffff;
    --clr-bkg-line: #FE0202;
}

/* 
    ====================================================
    ================== MAIN BOX ========================
    ====================================================
*/
.main-box{
    position: relative;
    height: 100vh;
    background-color: var(--clr-bkg-main);
}
/*
    ==========================
    ===== NAVIGATION BAR =====
    ==========================
*/
.nav-bar{
    width: 100%;
    text-align: center;
    background-color: var(--clr-bkg-accent);
}
.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
/* Individual links */
.nav-bar li{
    font-size: 30px;
    padding: 15px;
    max-width: 250px;
    vertical-align: middle;
}
.nav-bar li a{
    padding: 15px;
}
.nav-bar li a:hover{
    background-color: var(--clr-bkg-secondary);
}
.nav-bar li:nth-child(3),
.nav-bar li:nth-child(3) a{
    padding: 0px;
}
.nav-bar img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


/* 
    =================================================
    ================== LOGOs ========================
    =================================================
*/
/* Center of a box */
.center-img{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
}
.center-img img{
    width: 100%;
}

/* 
    ======================================================
    ================== MAIN VIDEO ========================
    ======================================================
*/
.main-video-block{
    width: 100%;
    height: 80%;
    background-color: lightblue;
    position: absolute;
    margin: 0;
}
.main-video-block video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}






















/* 
    =======================================================
    ================== SEARS TOWER ========================
    =======================================================
*/
.sears-tower-antenna-left,
.sears-tower-antenna-right{
    position: absolute;
    bottom: 50%;
    transform: translate(-50%);
    width: 1vw;
    height: 30vh;
    background-color: white;
    z-index: 1000;
}
.sears-tower-antenna-left{
    left: 45%;
}
.sears-tower-antenna-right{
    left: 55%;
}

.sears-tower-bottom{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    width: 60vw;
    height: 30vh;
    background-color: blue;
    z-index: 1000;
}
.sears-tower-top{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    width: 20vw;
    height: 50vh;
    background-color: red;
    z-index: 1000;
}

/* 
    =================================================
    ================== LINES ========================
    =================================================
    Straight line from top [direction] to bottom [direction]
*/
.line-left-to-right{
    width: 10px;
    background-color: var(--clr-bkg-line);
    position: absolute;
    top: 50%;
    left: 50%;
}
.circle{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    border-radius: 50%;
}
